body {
    background-color: darkslateblue;
    font-family: Ubuntu, sans-serif;
}

.board-wrapper {
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.board {
    width: 91%;
    height: 92%;
    border: solid 1px white;
    box-sizing: border-box;

    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);

}

.boardSquare {
    border: solid 1px silver;
    box-sizing: border-box;

    display: flex;
    flex-wrap: nowrap;

    align-items: center;
    justify-content: center;
}


.mark {
    font-size: 13rem;
    color: white;
    font-weight: bold;
    text-align: center;
}


